.edit-post-visual-editor__post-title-wrapper.is-layout-flow {
	margin: 0;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	border-bottom: 1px solid #e0e0e0;
	h1, h2 {
		&.wp-block-post-title {
			font-size: 1.5rem;
			font-weight: 600;
			width: calc(100% - 2 * var(--wp--custom--padding--horizontal) );
			max-width: var(--wp--custom--sizing--narrow);
			margin: 0 auto !important;
		}
	}
}
